body{
    padding: 0;
    margin: 0;
    background-color: blue;
    font-size: 30px;
    font-family: Verdana;
    font-style: italic;
    font-style: oblique;
    
}

header{
    width: 100%;
    background-color: white; 
    display: inline;
}

nav{
    width: 600px;
    margin: 5px;
    display: inline-block;
}
nav li{
    display: inline;
}

.logo{
    margin: 80px;
    width: 20px;
    background-clip: yellow;
    display: inline-block;
}
.logo img{
    width: 60px;
}
